/* General Styles */
body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #231f20;
    color: #231f20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

a {
    color: #231f20;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* Header */
header {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #231f20;
}

header img {
    max-width: 100%;
}

header h1 {
    margin: 0;
    color: #231f20;
    font-size: 3rem;
}

h1,
h2,
h3 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Navigation Tabs */
nav {
    margin: 20px 0;
    width: 320px;
    position: relative;
}

.menu {
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    transition: max-height 0.3s ease-out;
}

nav button {
    background-color: #231f20;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

nav button.active {
    background-color: #ffffff;
    color: #231f20;
}
nav button:hover {
    background-color: #ffffff;
    color: #231f20;
}

nav .nav-icon {
    display: none;
}

/* Content Sections */
.content-section {
    color: #231f20;
    display: none;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.content-section.active {
    display: block;
}

@media (max-width: 800px) {
    nav .nav-icon {
        display: inline-block;
    }
    nav .nav-text {
        display: none;  
    }
}

.player {
    width: 100%;
}

.playercontainer {
    background-color: #231f2033;
    border-radius: 8px;
    padding: 0.5em 1em;
    margin: 1em 0;
}